#!/bin/bash 

############################################
#### (Change this per project customization!!)
############################################
#### ----- Long Walltime jobs to ignore ---- 
#### (to exclude for auto submit)
LONG_WALL_TIME_LIST="iallgatherv iscatterv osu_scatterv"
#### ----- MPI CMD Default ----- ####
MPI_CMD_DEFAULT=/home/user1/benchmarks/FFTW/FFTW/ABTP/app/fftw/mpi/mpi-bench
#### ----- MPI CMD List ----- ####
MPI_CMD_LIST=/home/user1/benchmarks/FFTW/FFTW/ABTP/app/fftw/mpi/mpi-bench

############################################
#### (Change this per cluster customization!!)
############################################
#### Default: 40 cores totally to use ####
CORE_PER_NODE=40
####  ----- Cluster Queue ----- ####
QUEUE=S30
####  ----- Core Allocation Mode ----- ####
FULL_NODE_CORES_ALLOCATION=1

############################################
#### (Change this per cluster customization!!)
#### (Only if necessary)
############################################
#### ----- Walltime Limits ---- ####
QSUB_WALLTIME_WEEK_LONG="walltime=144:00:00"
QSUB_WALLTIME_SUPER_LONG="walltime=72:00:00"
QSUB_WALLTIME_EXTREME_LONG="walltime=36:00:00"
QSUB_WALLTIME_EXTRA_LONG="walltime=12:00:00"
QSUB_WALLTIME_VERY_LONG="walltime=08:00:00"
QSUB_WALLTIME_LONG="walltime=06:00:00"
QSUB_WALLTIME_MEDIUM="walltime=04:00:00"
QSUB_WALLTIME_NORMAL="walltime=03:00:00"
QSUB_WALLTIME_SHORT="walltime=01:00:00"

#### ---- setup Extra large cores ----
CORE_BOUND_FOR_LONG_WALLTIME=3200

####################################
#### (NOT to change this section!!)
####################################
#### ---- ERROR definitions     ----
ERROR_WAIT_FOR_JOB_COMPLETE_MISSING_ARGS=1
ERROR_TOTAL_CORES_NOT_DIVISIBLE_BY_256=91
ERROR_GET_CONFIG_VALUE_ARGUMENTS_MISSING=92

